
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444;
	background: #f6f6f6;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #45a8f1;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #544f4a;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.codrops-header__subbox span {
	display: block;
	margin: 0 0 1em 0;
}

.custom-select {
	border: 3px solid #f5f5f5;
	background: #56B4F9;
}

.custom-select::after {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #303840;
	margin-top: -3px;
}

.custom-select select {
	font-family: 'Source Sans Pro', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1.5;
	cursor: pointer;
}


.custom-select select:focus {
	outline: none;
	box-shadow: none;
	border: 1px solid #f5f5f5;
}


.custom-select option {
	font-weight: bold;
	background: #fff;
	box-shadow: none;
}


/* Top Navigation Style */

.codrops-links {
	position: absolute;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	border: 3px solid #fff;
	background: #66c6ff;
	bottom: 0;
	left: 11em;
}

.codrops-links::after {
	position: absolute;
	top: -5%;
	left: 50%;
	width: 3px;
	margin-left: -1px;
	height: 110%;
	background: #fff;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 1em;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon::before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop::before {
	content: "\e001";
	color: #0099cc;
}

.codrops-icon--prev::before {
	content: "\e004";
}

.pater {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	display: block;
	border: 3px solid #fff;
	padding: 4.5em 2.5em 2.5em;
	width: 300px;
	position: relative;
	color: #fff;
	background: rgba(102, 198, 255, 1);
	margin: auto 0 3em auto;
}

.pater:hover,
.pater:focus {
	color: #fff;
	outline: none;
}

.pater:after {
	content: 'Sponsored by';
	position: absolute;
	top: 3.5em;
	left: 4em;
	font-size: 0.65em;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

.pater__img {
	display: block;
	width: 50%;
}

.pater__title {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.35em;
	margin: 1em 0;
}

.pater__desc {
	color: #ffffff;
	padding:2px;
	font-weight: 600;
	line-height: 1.1;
	margin: 0;
}

/* 1 */

.anim--effect-1 .codrops-header__subbox {
	color: #605BD4;
}

.anim--effect-1 .custom-select,
.anim--effect-1 .codrops-links,
.anim--effect-1 .pater {
	background: #605BD4;
}


/* 2 */

.anim--effect-2 .codrops-header__subbox {
	color: #9cdab1;
}

.anim--effect-2 .custom-select,
.anim--effect-2 .codrops-links,
.anim--effect-2 .pater {
	background: #9cdab1;
}


/* 4 */

.anim--effect-4 .codrops-header__subbox {
	color: #999;
}

.anim--effect-4 .custom-select,
.anim--effect-4 .codrops-links,
.anim--effect-4 .pater {
	background: #16161D;
}

.anim--effect-4 .custom-select select {
	color: white;
}

.anim--effect-4 .custom-select select option {
	color: black;
}

.anim--effect-4 .custom-select::after {
	border-top-color: white;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		width: 300px;
		font-size: 0.8em;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		margin: 0;
		padding: 0;
		min-height: 0;
	}
	.codrops-header__title {
		display: block;
		margin: 0;
		width: 300px;
		padding: 1em;
	}

	.pater {
		margin: 0;
		max-width: none;
		font-size: 0.85em;
		padding: 2.5em 1em 1em;
	}
	.pater::after {
		top: 1em;
		left: 1em;
	}
	.pater__img {
		width: 160px;
	}
	.container .page {
		padding: 2.85em;
	}
	.container .pagenav {
		top: 0.5em;
		left: 0.5em;
		right: 0.5em;
		bottom: 0.5em;
		font-size: 0.85em;
	}
}

}
